body{
    background: #000000;  
background: -webkit-linear-gradient(to bottom, #434343, #000000); 
background: linear-gradient(to bottom, #434343, #000000); 
background-repeat: no-repeat;
background-size: 100%;

}
.logo{
    display: block;
    margin: 0px auto;
    height: 10%;
    width: 10%;
}
.genero-titulo-div{
    text-align: center;
    display: flex;
    justify-content: space-around;
}
a {
    box-shadow: inset 0 0 0 0 #20abdd;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a:hover {
    box-shadow: inset 100px 0 0 0 #1db2e8;
    color: white;
}
.home-css{
    text-align: right;
}
.titulo-href{
    font-size: 30px;
    text-decoration: none;
    color: white;
}
/*Genero Y DETALLE*/
.section-generos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.generoh1{
    text-align: center;
    color: rgb(237, 225, 225);
}
.generos-div{
    position: relative;
    align-self: center;
}
.img-genres{
    height: 180px;
    width: 170px;
}
.a-genres{
    text-decoration: none;
    color: rgb(237, 225, 225);
}
.titulos {
    color: white;
}

/* Style.css de detalle pelicula  */
.fotopeli{
    border: solid 3px #ffffff1c ;
    width: 400px;
    margin-top: 8%;
}
