body{
    background: #000000;  
background: -webkit-linear-gradient(to bottom, #434343, #000000); 
background: linear-gradient(to bottom, #434343, #000000); 
background-repeat: no-repeat;
background-size: 100%;

}
.logo{
    display: block;
    margin: 0px auto;
    height: 10%;
    width: 10%;
}
.genero-titulo-div{
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.home-css{
    text-align: right;
}
.titulo-href{
    font-size: 30px;
    text-decoration: none;
    color: white;
}
/*Genero Y DETALLE*/
.section-generos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.generoh1{
    text-align: center;
    color: rgb(237, 225, 225);
}
.generos-div{
    position: relative;
    align-self: center;
}
.img-genres{
    height: 180px;
    width: 170px;
}
.a-genres{
    text-decoration: none;
    color: rgb(237, 225, 225);
}
.titulos {
    color: white;
}

/* Style.css de detalle pelicula  */
.fotopeli{
    border: solid 3px #ffffff1c ;
    width: 400px;
    margin-top: 8%;
}
.textomovie{
    color: white;
}
.logitos{
    width: 2%;
}
.logofav{
    width: 5%;
}

/* Fin detalles de pelicula */


.años {
    color: white;
}
.size  { height: 280px;
    width: 230px;
}
.section{
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.article {
    position: relative;
    align-self: center;
}
.formulario {
    display: flex;
    flex-wrap: wrap;
}
.toy {
    color: white;
}
.oculta{
    display: none;
}
.futer{ 
    color: white;
    text-align: center;
}